body{
    background-color: #f6f6f6 !important;
}
.css-5bhrt3-MuiInputBase-root-MuiOutlinedInput-root {
    background: #6a1b9a05;
    border-radius: 25px !important;
    border: none !important;
}
.css-15wwp11-MuiTableHead-root {
    background: #6a1b9a !important;
}
.css-9w1tta-MuiTableCell-root {
    font-weight: bold;
    padding: 12px !important;
    color: white !important;
}
.css-16iq3h-MuiCardContent-root {
    padding: 16px !important;
    /* padding: 30px; */
}
.css-1xnkhd6-MuiStack-root {
    margin-bottom: 0 !important;
}
.css-172sr29-MuiTableCell-root {
    color: white !important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    backdrop-filter: blur(10px);
}